<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheet3.css">
</head>
<body>
    <div class="quiz-section">
        <h1>Depression quiz</h1>
        <br>
        <hr/>
        <br>
        <div class="quiz">
            <h2 id="Question"> Question 1. question goes here </h2>
            <div id="answer-buttons">
                <button class="btn">Answer1</button>
                <button class="btn">Answer2</button>
                <button class="btn">Answer3</button>
                <button class="btn">Answer4</button>
            </div>
            <button class="btn1" id="next">Next..</button>
        </div>
    </div>
    <script src="script3.js"></script>
</body>
</html>